/*font*/
@font-face {
  font-family: 'BebasNeue';
  src: url('font/BebasNeue.otf') format("opentype");
}
/*font end*/

/*global*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body{
	padding: 0px;
	margin: 0px;
}

#content-container{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

#content{
	display: table;
	table-layout: fixed;
	margin: 5% auto;
	width: 100%;
	border-spacing: 20px;
}

#content-header{
	width: 100%;
	height: 50px;
	background-color: #1a1a1a;
	color: #ffd700;
	font-size: 30px;
	text-align: center;
	font-family: 'BebasNeue';
	line-height: 50px;
}

.form{
	width: 95%;
	list-style-type:none;
	font-family: 'BebasNeue';
	font-size: 30px;
	margin: 20px;
	color: #ffd700;
}

.form li{
	padding: 12px;
	position: relative;
}

.form *:focus{
	outline: none;
}

.text, #select-date, #select-date2{
	height: 20px;
	width: 50%;
	padding: 5px 8px;
	margin-top: 5px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 0px solid #000000;
}

.form textarea{
	padding: 8px;
	width: 50%;
	margin-top: 10px;
	height: 200px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 0px solid #000000;
}

.form input:focus, .form textarea:focus{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.form button, .submit1{
	background-color: #ffd700;
	color: #1a1a1a;
	padding: 6px 20px;
	font-family: 'BebasNeue';
	text-align: center;
	font-size: 25px;
	margin-left: auto;
	text-decoration: none;
}

.form button:hover, .submit1:hover{
	background-color: #f1f1f1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	cursor: pointer;
	color: #ffd700;
}

#forms-header{
	font-family: 'BebasNeue';
	background-color:#1a1a1a; 
	color: #ffd700;
	font-weight:bold;
	text-align:center;
	text-transform: uppercase;
	padding:20px;
	font-size:50px;
	width: 100%;
}

.select{
	width: 200px;
	height: 40px;
	overflow: hidden;
	background: 
}

.select select{
	background: #ffd700;
	color: #1a1a1a;
	width: 200px;
	padding: 5px;
	line-height: 1;
	border-radius: 0;
	height: 40px;
	font-size: 25px;
	font-family: 'BebasNeue';
}

.select select:hover{
	background: #1a1a1a;
	color: #ffd700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	cursor: pointer;
	border: 1px solid #ffd700;
}

#tabs{
	width: 73%;
	display: table-cell;
	overflow: hidden;
}

#submit-news-button, #submit-announcements-button, #submit-ads-button, #interview-button, #shoot-button{
	display: inline-block;
	font-family: 'BebasNeue';
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	float: left;
	margin-right: 10px;
	padding: 0 10px 0 10px;
}

#submit-news-button:hover, #submit-announcements-button:hover, #submit-ads-button:hover, #interview-button:hover, #shoot-button:hover{
	cursor: pointer;
}

#news-content, #announcements-content, #ads-content, #interview-content, #shoot-content{
	width: 100%;
	overflow: hidden;
	background-color: #1a1a1a;
	background: url('../img/texture1.png');
}

#submit-button{
	background-color: #ffd700;
	color: #1a1a1a;
	font-family: 'BebasNeue';
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	float: left;
	width: 100%;
	margin-right: 20px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #1a1a1a;
}

#submit-button:hover{
	background-color: #1a1a1a;
	color: #ffd700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.form-divider{
	font-size: 40px;
}

#line{
	width: 100%;
	border: 1px solid #ffd700;
}

fieldset{
	overflow: hidden;
}
.fieldgroup, .fieldgroup2, .fieldgroup3, .fieldgroup4{
	clear: none;
	margin-bottom: 10px;
}

.form radio{
	clear: none;
}
.radio-text{
	clear: none;
	font-size: 20px;
	margin-left: 10px;
}

/*latest news*/
#latest-news-container{
	width: 100%;
	background-color: #f1f1f1;
	border-left: 5px solid #1a1a1a;
}

.latest-news{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Oxygen', sans-serif, Arial;
	font-size: 12px;
	font-weight: bold;
}

.latest-news a{
	text-decoration: none;
}

.latest-news li{
	display: block;
	color: #1a1a1a;
	padding: 8px 0 8px 16px;
	text-align: left;
	border-bottom: 3px solid #ffd700;
}

.latest-news a li:hover{
	background-color: #1a1a1a;
	color: #ffd700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
/*latest news end*/

/*events*/
#events-container{
	float: left;
	width: 100%;
	background-color: #f1f1f1;
	border-left: 5px solid #1a1a1a;
	margin-top: 20px;
}

.events{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Oxygen',sans-serif,Arial;
	font-size: 12px;
}

.events a{
	text-decoration: none;
}

.events li{
	display: block;
	color: #1a1a1a;
	padding: 8px 0 8px 16px;
	text-align: left;
	border-bottom: 3px solid #ffd700;
	overflow: hidden;
}

.events a li:hover{
	background-color: #1a1a1a;
	color: #ffd700;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.date-container{
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: #1a1a1a;
	color: #ffd700;
	margin-right: 10px;
	padding-top: 3%;
	font-family: 'BebasNeue';
	font-size: 23px;
	padding-bottom: 3%;
	border: 1px solid #ffd700;
}

.title{
	text-decoration: bold;
	font-size: 20px;
}

.text-container{
	margin-right: 10px;
}

.view-calendar{
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}
/*events end*/
/*global end*/

/*header*/
#header{
	position: relative;
	height: 150px;
	width: 100%;
	background-image: url("../img/texture1.png");
	display: table;
}

#header img{
	width: 150px;
	max-height: 95%;
	display: table-cell;
}

#header-a{
	position: relative;
	text-align: center;
	height: 5px;
	width: 100%;
	background-color: #d7d53e;
	display: block;
}
/*header end*/

/*navigator*/
#nav-a{
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #d7d53e;
}

#nav-wrapper{
	width: 90%;
	display: table-cell;
}

.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 150;
	position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.nav-scrolled{
	top: 0;
	width: 100%;
	z-index: 150;
	position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}

.dropdown li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 9px 10px 5px; 
	text-decoration: none;
	font-size: 30px;
	font-family: 'BebasNeue';
}

.nav li:hover > a{
	background-color: rgba(255,215,0,0.9);
	color: #1a1a1a;
}

.dropdown a:hover{
	background-color: rgba(255,215,0,0.9);
	color: black;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

li.dropdown{
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.9);;
    min-width: 160px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size: 25px;
	font-family: 'BebasNeue';
}

.dropdown-content a:hover {
	background-color: rgba(255,215,0,0.9);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*navigator end*/

/*footer*/
#footer{
	width: 100%;
	background-color: #1a1a1a;
	padding-top: 10px;
	overflow: hidden;
}

/*message us*/
#message-us{
	float: left;
	margin-left: 10%;
	width: 45%;
}

#message-us ul{
	font-family: 'Oxygen',sans-serif,Arial;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px 100px 0px 0px;
	color: #ffd700;
}

#message-us li{
	padding: 12px;
	position: relative;
}

#message-us li p{
	font-family: 'BebasNeue';
	font-size: 25px;
}

#message-us *:focus{
	outline: none;
}

#message-us input{
	height: 20px;
	width: 100%;
	padding: 5px 8px;
	margin-top: 5px;
	font-family: 'Oxygen',sans-serif,Arial;
}

#message-us textarea{
	padding: 8px; 
	width: 100%;
	font-family: 'Oxygen',sans-serif,Arial;
	margin-top: 5px;
}

#message-us input:focus, #message-us textarea:focus{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	box-shadow: 0px 0px 10px 0px rgba(255,217,0,1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

#message-us button{
	background-color: #ffd700;
	color: #1a1a1a;
	padding: 6px 20px;
	font-family: 'BebasNeue';
	text-align: center;
	font-size: 25px;
}

#message-us button:hover{
	background-color: #f1f1f1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	cursor: pointer;
	color: #ffd700;
}

.message-us-header{
	color: #ffd700;
	font-family: 'BebasNeue';
	font-size: 35px;
	padding-top: 20px;
}

#stylename{
	float: left;
	width: 45%;
	margin-right: 5px;
}

#styleemail{
	float: right;
	width: 45%;
	margin-left: 5px;
}
/*message us end*/

/*contact us*/
#contact-us{
	overflow: hidden;
	list-style-type: none;
	float: left;
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 10px;
}

#contact-us ul{
	list-style-type: none;
}

.contact-us-header{
	color: #ffd700;
	font-family: 'BebasNeue';
	font-size: 35px;
}

.contact-us-subheader{
	font-family: 'BebasNeue';
	color: #ffd700;
	font-size: 20px;
	padding-top: 10px;
}

.contact-us-content{
	font-family: 'Oxygen',sans-serif,Arial;
	color:white;
	margin-left: 10px;
}
/*contact us end*/
/*footer end*/

/*footer 2*/
#footer2{
	width: 100%;
	height: 25px;
	background-color: black;
	color: #ffd700;
	text-align: center;
	font-family: 'BebasNeue';
	font-size: 15px;
	padding-top: 10px;
}
/*footer 2 end*/
